<p>add-new-route works!</p>
<button type="button" class="logout-button" (click)="goBack()">Return</button>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Add New Route</title>
</head>

<body>

<div class="form-container">

  <form *ngFor="let row of rows; let i = index">

    <div class="form-row">
      <label>Route name:</label>
      <input [(ngModel)]="row.routename" [ngModelOptions]="{standalone: true}" placeholder="Route Name" />
    </div>

    <div class="form-row">
      <label>Grade:</label>
      <input [(ngModel)]="row.grade" [ngModelOptions]="{standalone: true}" placeholder="Grade" />
    </div>

    <div class="form-row">
      <label>Hold color:</label>
      <input [(ngModel)]="row.holdColor" [ngModelOptions]="{standalone: true}" placeholder="Hold color" />
    </div>
    <div class="form-row">
      <label>Route type:</label>
      <input [(ngModel)]="row.routeType" [ngModelOptions]="{standalone: true}" placeholder="Route type" />
    </div>

    <div class="form-row">
      <label>Start type:</label>
      <input [(ngModel)]="row.starttype" [ngModelOptions]="{standalone: true}" placeholder="Start type" />
    </div>

    <div class="form-row">
      <label>Route setter:</label>
      <input [(ngModel)]="row.routesetter" [ngModelOptions]="{standalone: true}" placeholder="Route setter" />
    </div>

    <div class="form-row">
      <label>Date set:</label>
      <input type="date" [(ngModel)]="row.usageDate" [ngModelOptions]="{standalone: true}" />
    </div>

    <div class="submit-container">
        <button type="button" (click)="saveRow(row)" [disabled]="row.saving">Finalize</button>
        <span *ngIf="row.saving">Finalizing...</span>
        <span *ngIf="row.saved">Finalized!</span>
        <span class="error" *ngIf="row.error">{{ row.error }}</span>
    </div>
  </form>
</div>

</body>
</html>